asgiref==3.7.2
cffi==1.16.0
cryptography==46.0.0
Django==4.2.7
django-cors-headers==4.9.0
gunicorn==22.0.0
setuptools
pillow==12.1.1
pycparser==3.0.0
PyMySQL==1.1.0
sqlparse==0.5.5
tzdata==2023.3
dj-database-url==0.5.0
whitenoise
psycopg2-binary

